<div fxLayout="row" class="grid--hor--2">
  <div fxFlex="2 0 400px" class="grid__el">
    <div lazyForm [formGroup]="control" (ngSubmit)="onSubmit()" novalidate>
      <lazy-selector [value]="value.firstName" [metadata]="value.metadata('firstName')"></lazy-selector>
      <lazy-selector [value]="value.lastName" [metadata]="value.metadata('lastName')"></lazy-selector>
      <lazy-selector [value]="value.age" [metadata]="value.metadata('age')"></lazy-selector>
    </div>
  </div>
  <div fxFlex="0.5 0 300px" class="grid__el">
<pre [ngClass]="{'invalid': control.invalid, 'valid': control.valid}">
<span class="head">{{metadata.key}}</span>
<b>value:</b> {{value | json}}
<b>control value:</b> {{control.value | json}}
</pre>
  </div>
</div>
