<h3>Decorators Form</h3>
<div fxLayout="row" class="grid--hor--2">
  <div fxFlex="2 0 400px" class="grid__el">
    <form lazyForm [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <lazy-selector [value]="model.firstName" [metadata]="model.metadata('firstName')"></lazy-selector>
      <lazy-selector [value]="model.lastName" [metadata]="model.metadata('lastName')"></lazy-selector>
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
      <button type="button" class="btn btn-danger" (click)="testFormReset()">Test Reset</button>
    </form>
  </div>
  <div fxFlex="0.5 0 300px" class="grid__el">
<pre class="height-100pct" [ngClass]="{'invalid': form.invalid, 'valid': form.valid}">
<b>model value:</b> {{model | json}}
<b>form value:</b> {{form.value | json}}
</pre>
  </div>
</div>
