<h1>
  Welcome to Lazy Forms Demo Application!
</h1>
<nav>
  <a routerLink="/no-decorators-form-example" routerLinkActive="active">No Decorators Form Example</a>
  <a routerLink="/decorators-form-example" routerLinkActive="active">Decorators Form Example</a>
  <a routerLink="/nested-form-example" routerLinkActive="active">Nested Form Example</a>
  <a routerLink="/form-array-example" routerLinkActive="active">Form Array Example</a>
  <a routerLink="/complex-form-array-example" routerLinkActive="active">Complex Form Array Example</a>
</nav>

<router-outlet></router-outlet>
