<h3>No Decorators Form</h3>
<div class="row">

  <div class="col-md-8">
    <form lazyForm [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <lazy-selector [value]="value" [metadata]="metadata"></lazy-selector>
      <button type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
    </form>
  </div>

  <div class="col-md-4">
<pre [ngClass]="{'invalid': form.invalid, 'valid': form.valid}">
<b>model value:</b> {{value | json}}
<b>form value:</b> {{form.value | json}}
</pre>
  </div>

</div>
