<h3>Nested Form Example</h3>
<div fxLayout="row" class="grid--hor--2">
  <div fxFlex="2 0 400px" class="grid__el">
    <form lazyForm [formGroup]="form" novalidate>
      <lazy-selector [value]="model.title" [metadata]="model.metadata('title')"></lazy-selector>
      <lazy-selector [value]="model.userModel" [metadata]="model.metadata('userModel')"></lazy-selector>
      <button type="button" class="btn btn-danger" (click)="testFormReset()">Test Reset</button>
    </form>
  </div>
  <div fxFlex="0.5 0 300px" class="grid__el">
<pre class="height-100pct" [ngClass]="{'invalid': form.invalid, 'valid': form.valid}">
<b>model value:</b> {{model | json}}
<b>form value:</b> {{form.value | json}}
</pre>
  </div>
</div>
