<h3>Nested Form Example</h3>
<form lazyForm [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <lazy-selector [value]="model.title" [metadata]="model.metadata('title')"></lazy-selector>
  <lazy-selector [value]="model.userModel" [metadata]="model.metadata('userModel')"></lazy-selector>
</form>

<button type="button" (click)="testFormReset()">Test Reset</button>
<br>
<p>
  form value: {{form.value | json}} <br>
  form valid: {{form.valid}}
</p>
<h4>Model Value</h4>
<pre>{{model | json}}</pre>
